<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div id="page">
      Paste code here
      <form method="post" action="pastes">
        <textarea name="content" id="content" > </textarea>
        <input type="submit" value="+"  id=sendButton />
      </form>
    </div>
  </body>
</html>